  <!doctype html>
  <html lang="en">
  <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="/static/style.css">  

      <title>Alpha Team project</title>
  </head>
  <body>

      <!--Header-->
      <header class="jumbotron header1">
          <h1>Folks & Songs</h1>
          <p>Team Alpha</p> 
      </header>
      <!--Navigation panel-->
      <nav class="navbar sticky-top navbar-expand-lg nav">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home' %}">Folks & Songs</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 linksList">
              <li class="nav-item">
                <a class="nav-link linkElement" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
        </ul>
        <form class="d-flex" method=POST action="{% url 'search' %}">
            {% csrf_token %}
          <input class="form-control me-2" type="search" placeholder="Search Songs" aria-label="Search" name="searched">
          <button class="btn btn-dark" type="submit">Search</button>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="#">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}?next=/">LogOut</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}?next=/"">Login</a>
              </li>
              <li class="nav-item">
                <a href="{% url 'song_add' %}" class="btn btn-secondary">Add...</a>
              </li>
              {% endif %}
        </ul>
    </form>
  </div>
  </div>
  </nav>

  <br>

  {% block content %}
  {% endblock %}

  <!--Footer-->
    <!--<footer>
      <div class="jumbotron fixed-bottom footer">
        <p>Team Alpha</p>
      </div>
    </footer>-->

 <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
  </html>