{% extends 'base.html' %}

{% block content %}
{% load static %}

<body>
  <div style="margin:20px; border:thick dotted #FF0000; padding:20px"><p style=text-align:justify;>
    
  <h3 style=text-align:center;color:#G;font-size:40px;>The Greig Duncan Folk song Collection Website User manual</h3>
    
1Introduction<br>
    
1.1Purpose of writing<br>
    
The purpose of this user manual is to help users understand the this folk song website and learn how to operate the system. The readers of this user manual are: music folklore scholars who use the system, system maintainers, teachers and students who use the system.

1.2Project background<br>
    
The Greig Duncan Folk song Collection Online website project was completed by the team alpha which is consisted of Msc IT postgraduates. All the data was provided by Dr.Thomas who is also the client of this project.

2.Software Overview<br>
    
2.1Functional Overview<br>
    
This system is used to realize the storage and display of some music resources. This system provides users with inquiries about music, browsing of music scores, playing of video and audio, and adding, deleting, and updating other information. Data backup and restore, user password management and other functions. Enable users to make better use of the folk music resources provided by the school to complete in-depth research.
2.2Operating environment
    
2.21Hardware<br>
    
The server supports PHP, PostgreSQL services, and web services.
    
2.22Support software and system<br>
Support system: Windows, Unix and Mac OS.
Browser: Support IE8 to IE11 version, Google and other browsers using IE core or IE compatibility mode.

3.Instructions for use<br>
●User register: The way to access this website, you need to open the browser, enter the system address “https://stark-mesa-89039.herokuapp.com/”.<br>


●Admin register: The quick link for dashboard to manage is: “https://stark-mesa-89039.herokuapp.com/admin/login/?next=/admin/”.<br>

●Browse web content: Users can select the content they want to browse by sliding the scroll bar on the far right.<br>

●Access to admin page: System maintainers can access the admin page by click the “admin” button.<br>

User operation examples:<br>
●Search songs: Users can search aimed songs by using advanced search engine. Songs name, authors name, lyric and genre all can be the key words content to help
users do some search work. Users choose to use filters would have a higher effective result.Just put the volumes name in the first column, and put the author 
name in the second column that will increase the efficiency. After complete to fill the key words, what you need is to press the “search” button or “enter” on your keyboard.</p></div>
  <div class="container">
    <div class="card">
      <div class="card-header">
        <h1 class="helpheader">Task-oriented Guide</h1>
      </div>
      <br>
      <ol class="helplist">
        <h4><li>How to add a new song?</li></h4>
        <ul>
          <li>Click on the ADMIN link</li>
          <li>Enter the authorisation details (Login)</li>
          <li>Click on Songs</li>
          <li>Choose to ADD SONG</li>
          <li> Fill all fields</li>
          <li>Press save</li>
          <li>Refresh the website. Your song is now diplayed on the home page!</li>
        </ul>
        <br>
        <h4><li>How to search a song?</li></h4>
        <ul>
          <li>Use the navigation bar on the top of the website</li>
          <li>Enter a song's title in the Search Songs field </li>
          <li>Click the Search button</li>
          <li>For the advance search click on the Filters button</li>
          <li>Fill the fields with additional information for a more precise result</li>
          <li>Click the Search button</li>
        </ul>
        <br>
        <h4><li>For more details check the README.md file in the repository</li></h4>
        <ul>
          <li><a href="https://github.com/UoA-CS5942/Alpha-2021">GitHub</a></li>
        </ul>
      </ol>
    </div>
    <br><br>

    <div class="card">
      <div class="card-header">
        <h1 class="helpheader">Need Help?</h1>
        <p class="helpheader">Please do not hesitate to contact us. Our team will gladly help you as soon as possible!</p>
      </div>
      <div class="card map">
        <div class="card-body map">
          <div class="form-row">
            <div class="col-md-4 mb-3">
              <label>First name</label>
              <input type="text" class="form-control" placeholder="First name">
            </div>
            <div class="col-md-4 mb-3">
              <label>Last name</label>
              <input type="text" class="form-control" placeholder="Last name">
            </div>
            <div class="col-md-4 mb-3">
              <label>Email</label>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="@">
              </div>
              <small class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
          </div>
          <div class="form-row">
            <label>Question</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
          </div>
        </div>
        <div>
          <div class="card-body">
           <button class="btn searchButton">Send</button>
         </div>
       </div>
     </div>


   </div>

   {% endblock %}
