{% extends 'base.html' %}


{% block content %}
<!--Introduction section-->
<div class="container">
	<!-- <div class="col"><h1 class="text-center">Welcome!</h1></div> -->

	<div class="grid-container">
		{% for song in songs %}

		<div class="card card-home">
			<div class="card-header"><b>{{song.id}}</b> {{song.name}}</div>
			<div class="card-body">{{song.description}}</div>
			<a href="{% url 'song' id=song.id %}" class="btn btn-secondary btn-home">View</a>
			<div class="card-footer">{{song.created_date}}</div>
			<img class="card-img-bottom" src="/static/imgGleb/music.png" alt="hmm" style="width:100%">
		</div>

		{% endfor %}
	</div>
</div>
{% endblock %}